---
// No props needed for static implementation
---

<section class="bg-[#fafafa]">
  <div class="site-container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Dark card with Stats -->
      <div
        class="col-span-1 md:col-span-2 bg-[#292929] h-auto min-h-[180px] lg:h-[280px] py-6 px-6 rounded-[24px]"
      >
        <h2 class="text-4xl text-white leading-none mb-1 tracking-tighter">
          Impact
        </h2>
        <p
          class="text-xl font-extralight text-[#F0F0F0] leading-none tracking-tighter"
        >
          Career Highlights
        </p>
      </div>

      <!-- Experience card -->
      <div
        class="bg-[#E8E8E8] h-auto min-h-[180px] lg:h-[280px] rounded-[24px] flex flex-col p-6"
      >
        <div class="flex items-center -tracking-[.4em]">
          <span class="text-7xl font-medium text-[#292929] leading-none"
            >20</span
          >
          <span
            class="text-7xl font-medium text-[#292929] leading-none relative -top-2 ml-1"
            >+</span
          >
        </div>
        <div class="mt-auto">
          <div class="border-t border-gray-300 pt-3">
            <h3 class="text-xl text-[#292929] leading-none tracking-tighter">
              Years
            </h3>
            <p
              class="text-base font-extralight text-[#292929] leading-none tracking-tighter mt-0.5"
            >
              Leadership experience since 2005
            </p>
          </div>
        </div>
      </div>

      <!-- Users card -->
      <div
        class="bg-[#F46665] h-auto min-h-[180px] lg:h-[280px] rounded-[24px] flex flex-col p-6"
      >
        <div class="flex items-center -tracking-[.4em]">
          <span class="text-7xl font-medium text-[#292929] leading-none">8</span
          >
          <span
            class="text-7xl font-medium text-[#292929] leading-none relative ml-1"
            >M</span
          >
        </div>
        <div class="mt-auto">
          <div class="border-t border-gray-800/20 pt-3">
            <h3 class="text-xl text-[#292929] leading-none tracking-tighter">
              Users
            </h3>
            <p
              class="text-base font-extralight text-[#292929] leading-none tracking-tighter mt-0.5"
            >
              Enhanced user satisfaction across different industries
            </p>
          </div>
        </div>
      </div>

      <!-- Revenue card -->
      <div
        class="col-span-1 md:col-span-2 bg-[#E8E8E8] h-auto min-h-[180px] lg:h-[280px] rounded-[24px] flex flex-col p-6"
      >
        <div class="flex items-center -tracking-[.2em]">
          <span class="text-7xl font-medium text-[#292929] leading-none"
            >$10</span
          >
          <span
            class="text-7xl font-medium text-[#292929] leading-none relative ml-1"
            >M+</span
          >
        </div>
        <div class="mt-auto">
          <div class="border-t border-gray-300 pt-3">
            <h3 class="text-xl text-[#292929] leading-none tracking-tighter">
              New Revenue
            </h3>
            <p
              class="text-base font-extralight text-[#292929] leading-none tracking-tighter mt-0.5"
            >
              Unlocked annual revenue streams
            </p>
          </div>
        </div>
      </div>

      <!-- Team Growth card -->
      <div
        class="col-span-1 md:col-span-2 bg-[#E8E8E8] h-auto min-h-[180px] lg:h-[280px] rounded-[24px] flex flex-col p-6"
      >
        <div class="flex items-center -tracking-[.4em]">
          <span class="text-7xl font-medium text-[#292929] leading-none"
            >50</span
          >
          <span
            class="text-7xl font-medium text-[#292929] leading-none relative -top-2 ml-1"
            >+</span
          >
        </div>
        <div class="mt-auto">
          <div class="border-t border-gray-300 pt-3">
            <h3 class="text-xl text-[#292929] leading-none tracking-tighter">
              Team Members
            </h3>
            <p
              class="text-base font-extralight text-[#292929] leading-none tracking-tighter mt-0.5"
            >
              Led cross-functional global teams
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
