---

---

<section
  id="contact"
  class="py-20 bg-gray-900 text-gray-100 relative overflow-hidden"
>
  <div
    class="absolute bottom-[0rem] right-[0rem] opacity-5 font-bold leading-none pb-4 pr-8 tracking-[-1.5rem] text-[50rem]"
  >
    @
  </div>
  <div class="site-container">
    <h2 class="text-5xl font-bold tracking-[-0.25rem] mb-20">Let's Connect</h2>

    <div class="grid md:grid-cols-2 gap-12">
      <!-- Contact information -->
      <div>
        <h3 class="text-2xl font-bold tracking[-0.3] mb-8">Get in touch</h3>

        <p class="mb-12">
          I'm always interested in new opportunities and collaborations. Whether
          you have a project in mind or just want to say hello, feel free to
          reach out.
        </p>

        <div class="space-y-6">
          <div>
            <h4 class="text-lg font-bold tracking[-0.3]">Email me at</h4>
            <a
              href="mailto:julian@julianpineda.com"
              class="hover:text-white text-gray-100 relative inline-block after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-white after:transition-all hover:after:w-full focus:outline-none"
            >
              julian@julianpineda.com
            </a>
          </div>
          <div>
            <h4 class="text-lg font-bold tracking[-0.3]">Follow me</h4>
            <div class="flex gap-4">
              <a
                href="https://linkedin.com/in/julianpinedayyz"
                class="hover:text-white text-gray-100 relative inline-block after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-white after:transition-all hover:after:w-full focus:outline-none"
              >
                LinkedIn
              </a>
            </div>
          </div>
          <div>
            <h4 class="text-lg font-bold tracking[-0.3]">Based in</h4>
            <p>Toronto, Canada</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
