---
import Layout from '../layouts/Layout.astro';
import MinimalCards from '../ui-library/MinimalCards.astro';
---

<Layout title="Experiments">
  <section class="py-12">
    <MinimalCards />
  </section>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>
